<%= form_for(@mess) do |f| %>
  

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mess %><br />
    <%= f.text_field :mess %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
