<!DOCTYPE html>
<html>
<head>
<div>
<h1>Shopping websites</h1>
</div>

</head>
<p class="pos_fixed">
<%= link_to 'Home',root_path %> &nbsp; &nbsp; &nbsp;
<%= link_to 'About', sessions_about_path %> &nbsp; &nbsp; &nbsp;
<%= link_to 'contact', sessions_contactby_path%>&nbsp; &nbsp; &nbsp;
<%= link_to 'Email', new_site_path %>
</p>

<body>
	



  <title>Dummy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>



<%= yield %>

</body>





</html>

